Subject: Failure in Transfer

Source Server IP: {source_server_ip}
Destination Server IP: {destination_server_ip}

Files successfully transferred:
{successfiles}

Files failed while transfer:
{failedfiles}